.box{
    text-align: center;
background-image:url(https://i1-giaitri.vnecdn.net/2018/02/17/IMG-1965-1518804147.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Bqw5k84JJo7UhRBfragO_g);
background-size: 1500px;}
h1{ 
    color:rgb(17, 240, 91);}
th{ 
    color: rgb(227, 21, 21);}
table{
justify-items: center;
height: 13cm;
width: 40cm;}
